@model  BayPortColombia.ViewModels.UserPwdChgViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="login">
    <h1 class="page-header text-center"></h1>
    <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
            <div class="panel panel-default">
                <div class="panel-heading">Cambio de Contraseña</div>
                <div class="panel-body">
                    @using (Html.BeginForm("SavePwd", "ChangePwd", FormMethod.Post))
                    {
                        <p class="alert alert-info">Sr. usuario. @Model.name<br />Su contraseña actual ha caducado. Por favor registre una nueva contraseña</p>
                        <br />
                        @Html.Label("pwd1", new { @class = "sr-only" })
                        @Html.TextBoxFor(x => x.pwd1, new { @type = "password", @class = "form-control", @placeholder = "Digite Nueva Contraseña", required = "required", autocomplete = "off" })
                        @Html.ValidationMessageFor(x => x.pwd1, null, new { @class = "label label-warning" })
                        <br />
                        <br />
                        @Html.Label("pwd2", new { @class = "sr-only" })
                        @Html.TextBoxFor(x => x.pwd2, new { @type = "password", @class = "form-control", @placeholder = "Repita Nueva Contraseña", required = "required", autocomplete = "off" })
                        @Html.ValidationMessageFor(x => x.pwd2, null, new { @class = "label label-warning" })
                        <br />
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Guardar</button>
                        <br />
                        @Html.HiddenFor( x => x.userID )
                    }
                </div>
            </div>
        </div>
    </div>
</div>
