
<!DOCTYPE html>

<html ng-app="appBayport">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Comisiones  - @ViewBag.Title</title>
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    @*<link href="~/css/adminlte.min.css" rel="stylesheet" />*@
    @*<link href="~/css/adminlte.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="//code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css">
    
    @*<script src="script.js"></script>*@
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <script src="~/js/jquery.js"></script>
    <script src="~/js/DataTables/jquery.datatables.js"></script>
    <script src="~/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/js/jquery.cookie.js"></script>
    <script src="~/js/tm-scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/jcs-auto-validate.js"></script>
    <script src="~/Scripts/angularjs-dropdown-multiselect.js"></script>
    <script src="~/Scripts/angular-chart.min.js"></script>
    <script src="~/Scripts/underscore-min.js"></script>
    <script src="~/Scripts/app/module.js"></script>
    <script src="~/Scripts/app/Controlador.js"></script>
    <script src="~/Scripts/app/Services.js"></script>
</head>
<body>
    <div class="page">
        <div class="container body-content">
            <div></div>
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Sistema de Comisiones</p>
            </footer>
        </div>
    </div>
<script>
    //var myChart = document.getElementById('myChart').getContext('2d');
    //var dataColocacion = [150, 98, 80, 45, 30];
    //var labelColocacion = ['Bogota', 'cali', 'medellin', 'Pereira', 'Manizales'];

    //var dataMeta = $('#dataMeta')["0"]; //document.getElementById('dataMeta').val;
    //console.log(dataMeta);
    //var labelMeta = ['Cumplido', 'Meta'];



    //Global Defaults
    //Chart.defaults.global.defaultFontColor = '#777';
    //var massPopChart = new Chart(myChart,
    //    {
    //        type: 'line', //bar, horizontalBar, pie, line, doughnut, radar, polarArea
    //        data: {
    //            labels: labelColocacion,
    //            datasets: [
    //                {
    //                    label: 'Colocación',
    //                    data: dataColocacion,
    //                    backgroundColor: [
    //                        'rgba(75, 191, 192, 0.6)',
    //                        'rgba(255, 99, 132, 0.6)',
    //                        'rgba(54, 162, 235, 0.6)',
    //                        'rgba(255, 206, 86, 0.6)',                            
    //                        'rgba(153, 102, 255, 0.6)',
    //                    ],

    //                }]
    //        },
    //        options: {
    //            title: {
    //                display: true,
    //                text: 'Colocación Acumulada',
    //                fontSize:18
    //            },
    //            legend: {
    //                display:false,
    //                position:'bottom'
    //            },
    //            tooltips: {
    //                enabled:true
    //            }
    //        }
    //    });

    //var massPopChart1 = new Chart(myChart1,
    //    {
    //        type: 'doughnut', //bar, horizontalBar, pie, line, doughnut, radar, polarArea
    //        data: {
    //            labels: labelMeta,
    //            datasets: [
    //                {
    //                    label: 'Meta',
    //                    data: [dataMeta],
    //                    backgroundColor: [
    //                        'rgba(153, 102, 255, 0.6)',
    //                        'rgba(75, 192, 192, 0.6)',
    //                        'rgba(255, 99, 132, 0.6)',
    //                        'rgba(54, 162, 235, 0.6)',
    //                        'rgba(255, 206, 86, 0.6)',                        
                            
    //                    ],

    //                }]
    //        },
    //        options: {
    //            title: {
    //                display: true,
    //                text: 'Meta Categoría',
    //                fontSize: 18
    //            },
    //            legend: {
    //                display: false,
    //                position: 'bottom'
    //            },
    //            tooltips: {
    //                enabled: true
    //            }
    //        }
    //    });
    $(document).ready(function () {           

        $(function () {
                
            //console.log($("#hidMenuType").val);

            if ($("#hidMenuType").val === true) {
                console.log("true");
            }
            else {
                console.log("false");
            }
        });

        // Add minus icon for collapse element which is open by default
        $(".collapse.in").each(function () {
            $(this).siblings(".panel-heading").find(".glyphicon").addClass("glyphicon-minus").removeClass("glyphicon-plus");
        });

        // Toggle plus minus icon on show hide of collapse element
        $(".collapse").on('show.bs.collapse', function () {
            $(this).parent().find(".glyphicon").removeClass("glyphicon-plus").addClass("glyphicon-minus");
        }).on('hide.bs.collapse', function () {
            $(this).parent().find(".glyphicon").removeClass("glyphicon-minus").addClass("glyphicon-plus");
        });

        $(function () {
            $('#datetimepicker1').datepicker({
                yearRange: "-80:+0",
                changeMonth: true,
                changeYear: true,
                dateFormat: "dd/mm/yy"
            });

        });
        $(function () {
            $('#datetimepicker2').datepicker({
                yearRange: "-80:+0",
                changeMonth: true,
                changeYear: true,
                dateFormat: "dd/mm/yy"
            });

        });
        $(function () {
            $('#datetimepickerIni').datepicker({
                yearRange: "-80:+0",
                changeMonth: true,
                changeYear: true,
                dateFormat: "dd/mm/yy",
                numberOfMonths: 2,
                onSelect: function (selected) {
                    $("#datetimepickerFin").datepicker("option", "minDate", selected)
                }
            });

        });
        $(function () {
            $('#datetimepickerFin').datepicker({
                yearRange: "-80:+0",
                changeMonth: true,
                changeYear: true,
                dateFormat: "dd/mm/yy",
                numberOfMonths: 2,
                onSelect: function (selected) {
                    $("#datetimepickerIni").datepicker("option", "maxDate", selected)
                }
            });

        });

        $(document).on("click", "#btnLimpiar", function () {
            localStorage.clear();
            location.replace("/Profile/index");
        });

        //$(function () {
        //    $('#tablaComisiones').DataTable({
        //        dom: 'Bfrtip',
        //        buttons: [
        //            {
        //                extend: 'excel',
        //                text: 'Exportar a excel',
        //                className: 'exportExcel',
        //                filename: 'Movimientos',
        //                exportOptions: {
        //                    modifier: {
        //                        page: 'all'
        //                    }
        //                }
        //            }
        //        ]

        //    });
        //});

           


    });

    window.setTimeout(function () {
        $(".alert").fadeTo(500, 0).slideUp(500, function () {
            $(this).remove();
        });
    }, 4000);

    $(document).on("click", "#divSeguros", function () {
        console.log("divSeguros");
        var texto = $("#txtValorOfertaTotal");
        $("#myModalSeguros").modal();
        //if ($.trim(texto["0"].innerHTML) !== "No Aplica")
        //{
        //    
        //}
    });





    $(document).on("click", ".open-bannerformmodal", function () {
        var myOfferCode = $(this).data('id');
        console.log(myOfferCode);
        $('#relatives>tbody').empty();
        $(".bannerformmodal").modal();
        
        var array = @Html.Raw(Json.Encode(@ViewBag.RelativesOffer));
        var sampleTags = new Array();

        for(var i = 0; i < array.length; i++) {
            if (array[i].PlanCode == myOfferCode) {
                sampleTags[i] = array[i];
                $('#relatives>tbody:eq(1)').append('<tr><td>' + array[i].PlanCode + '</td><td>' + array[i].RelationshipName + '</td><td>' + array[i].InsuredValue.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + '</td></tr>');
            }
        }

        if (sampleTags.length == 0) {
            $('#relatives>tbody:eq(1)').append('<tr><td colspan="3">No existe información asociada</td></tr>');
        }
        console.log(sampleTags);
    });

    function openLinkPuntos(tipoMenu) {
        if (tipoMenu) {
            var win = window.open("https://bayport.worldsecuresystems.com/", '_blank');
            win.focus();
        }
        else {
            alert("Acceso restringido, faltan atribuciones ");
        }
    }

    function openLinkIntranet(tipoMenu) {
        if (tipoMenu) {
            var win = window.open(" http://201.161.36.66:8083/", '_blank');
            win.focus();
        }
        else {
            alert("Acceso restringido, faltan atribuciones ");
        }
    }

    function GetTipoMenu(tipoMenu) {
        if (tipoMenu) {
            return true;
        }
        else
            return false;
    }
       

    function exportTableToExcel(tableID, filename = '') {
        var downloadLink;
        var dataType = 'application/vnd.ms-excel';
        var tableSelect = document.getElementById(tableID);
        var tableHTML = tableSelect.outerHTML.replace(/ /g, '%20');

        // Specify file name
        filename = filename ? filename + '.xls' : 'excel_data.xls';

        // Create download link element
        downloadLink = document.createElement("a");

        document.body.appendChild(downloadLink);

        if (navigator.msSaveOrOpenBlob) {
            var blob = new Blob(['\ufeff', tableHTML], {
                type: dataType
            });
            navigator.msSaveOrOpenBlob(blob, filename);
        } else {
            // Create a link to the file
            downloadLink.href = 'data:' + dataType + ', ' + tableHTML;

            // Setting the file name
            downloadLink.download = filename;

            //triggering the function
            downloadLink.click();
        }
    }


</script>
</body>
</html>

