@{

    var tipoMenu = false;
    var tipoMenuBayport = false;
    tipoMenu = @Helper.SessionHelper.GetMenuType();
    tipoMenuBayport = !tipoMenu;
}
<header>

    <div ng-controller="OriginacionController" id="myTopnav" class="topnavnew navbar-static-top" ng-init="GetUserOptions(1);GetUserOptions(2);GetUserOptions(3);GetUserOptions(4);GetUserOptions(5);GetUserOptions(6);GetUserOptions(7);GetUserOptions(8);GetUserOptions(9);GetUserOptions(10)">
        <input type="hidden" name="hidMenuType" value="@tipoMenu" />
            <div class="navbar-header">
                <h1 class="navbar-brand">

                    <a href="~/Home/">
                        <img ng-if="@tipoMenu" src="~/images/logo.png" class="img-responsive" alt="logo" style="width: 140px;height: 70px;margin-left: -55px;">
                        <img ng-if="@tipoMenuBayport" src="~/images/logoBayport.png" class="img-responsive" alt="logo" style="width: 200px;height: 50px;margin-left: -55px;">
                    </a>

                    <small ng-if="@tipoMenu">Sistema de Comisiones</small>
                </h1>
            </div>


            <div class="dropdownnew" ng-if="UserOptions1.lstUserOptions.length > 0">
                <button class="dropbtnnew">Originacion</button>
                <div class="dropdownnew-content">
                    <a ng-repeat="item in UserOptions1.lstUserOptions" href="{{item.ventana_objeto}}">{{item.funcionalidad_nombre}}</a>
                </div>
            </div>

            <div class="dropdownnew" ng-if="UserOptions2.lstUserOptions.length > 0">
                <button class="dropbtnnew">Comisiones</button>
                <div class="dropdownnew-content">
                    <a ng-repeat="item in UserOptions2.lstUserOptions" href="{{item.ventana_objeto}}">{{item.funcionalidad_nombre}}</a>
                </div>
            </div>

            <div class="dropdownnew" ng-if="UserOptions3.lstUserOptions.length > 0">
                <button class="dropbtnnew">Aclaraciones</button>
                <div class="dropdownnew-content">
                    <a ng-repeat="item in UserOptions3.lstUserOptions" href="{{item.ventana_objeto}}">{{item.funcionalidad_nombre}}</a>
                </div>
            </div>

            <div class="dropdownnew" ng-if="@tipoMenuBayport">
                <button class="dropbtnnew">Más Servicios</button>
                <div class="dropdownnew-content">
                    <a href="#" onclick="openLinkPuntos( @tipoMenu)">Portal Puntos </a>
                    <a href="#" onclick="openLinkIntranet( @tipoMenu)">Intranet</a>
                </div>
            </div>

            <div class="dropdownnew" ng-if="UserOptions4.lstUserOptions.length > 0">
                <button class="dropbtnnew">Simulador</button>
                <div class="dropdownnew-content">
                    <a ng-repeat="item in UserOptions4.lstUserOptions" href="{{item.ventana_objeto}}">{{item.funcionalidad_nombre}}</a>
                </div>
            </div>

            <div class="dropdownnew" ng-if="UserOptions5.lstUserOptions-length > 0">
                <button class="dropbtnnew">Folio</button>
                <div class="dropdownnew-content">
                    <a ng-repeat="item in UserOptions5.lstUserOptions" href="{{item.ventana_objeto}}">{{item.funcionalidad_nombre}}</a>
                </div>
            </div>

            <div class="dropdownnew" ng-if="UserOptions6.lstUserOptions.length > 0">
                <button class="dropbtnnew">Metas</button>
                <div class="dropdownnew-content">
                    <a ng-repeat="item in UserOptions6.lstUserOptions" href="{{item.ventana_objeto}}">{{item.funcionalidad_nombre}}</a>
                </div>
            </div>

            <div class="dropdownnew" ng-if="UserOptions7.lstUserOptions.length > 0">
                <button class="dropbtnnew">Parámetros</button>
                <div class="dropdownnew-content">
                    <a href="~/Parametros/ListParametros">Lista de Parámetros</a>
                </div>
            </div>

            <div class="dropdownnew" ng-if="UserOptions9.lstUserOptions.length > 0">
                <button class="dropbtnnew">Guías</button>
                <div class="dropdownnew-content">
                    <a ng-repeat="item in UserOptions9.lstUserOptions" href="{{item.ventana_objeto}}">{{item.funcionalidad_nombre}}</a>
                </div>
            </div>

            <div class="dropdownnew" ng-if="UserOptions9.lstUserOptions.length > 0">
                <button class="dropbtnnew">Tablas</button>
                <div class="dropdownnew-content">
                    <a ng-repeat="item in UserOptions10.lstUserOptions" href="{{item.ventana_objeto}}">{{item.funcionalidad_nombre}}</a>
                </div>
            </div>

            <div class="dropdownnew usr-div">
                <button class="dropbtnnew ">
                    <span style="color:rgb(107, 176, 226); font-size:12px;" class="glyphicon glyphicon-user"></span>
                    <p class="usr-p">@Helper.SessionHelper.GetUser()</p>
                </button>
                <div class="dropdownnew-content">
                    <a href="#" data-toggle="modal" data-target="#myModal">Cambiar Contraseña</a>
                    <!--<a href="~/UpdateExecutive/Index">Actualizar Información</a>-->
                    <a href="~/Home/Logout">Cerrar Sesión</a>
                </div>
            </div>
            <a href="javascript:void(0);" style="font-size:15px;" class="iconnew" onclick="MenuResponse()">&#9776;</a>
            <br />
        </div>
    <script>
        function MenuResponse() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnavnew") {
                x.className += " responsive";
            } else {
                x.className = "topnavnew";
            }
        }
    </script>
</header>
<hr />
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h5 class="modal-title" id="myModalLabel">Cambio de Clave</h5>
            </div>
            <div class="modal-body">
                Para Cambiar tu contraseña, envía un correo a: ayuda@portalagentes.mx, Atención de Lunes a viernes de 9hrs a 18hrs
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-xs" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>